@mixin fonts( $fonS,$fontW,$color)
{ 	
	font-size:$fonS;
	font-weight:$fontW;
	color:$color;
}

#menu {
	a {
		@include fonts (18px, bold , map-get($map: $palette, $key: 'color_1') )
	}
	button {
		@include fonts(18px ,bold, none )
	}
}

