
$font-family_1: sans-serif;
$background-color_1: #ff0000b9;
$background-color_2: #000000;
$border-color_1: #000;
$border-color_2: transparent;
$palette: (
'color_1': #3f3f3f,
'color_2': rgb(8, 0, 0),
'color_3': #333,
'color_4': #fff,
'color_5': rgba(0, 0, 0, 0.8),
'color_6': rgb(255, 0, 0),
'color_7': #86bd57,
'color_8': #000000,
'color_9': rgb(0, 0, 0),
'color_10': black)

